In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('adwords_exercise.csv')
df

,"Exercise (Aug 1, 2013-Sep 27, 2013)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Day,Campaign,AdGroup,Clicks,Impressions,CTR,Avg. CPC,Cost,Avg. position,Conversions,Cost/conversion,Conversion rate,View-through conv.,Total conv. value
1,05/08/2013,1,100,0,1,0%,0,0,1,0,0,0%,0,0
2,08/08/2013,1,100,1,3,33.33%,0.03,0.03,1,0,0,0%,0,0
3,10/08/2013,1,100,0,4,0%,0,0,1,0,0,0%,0,0
4,14/08/2013,1,100,0,1,0%,0,0,1,0,0,0%,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15830,24/09/2013,#REF!,#REF!,1,22,4.55%,0.33,0.33,1.5,0,0,0%,0,0
15831,25/09/2013,#REF!,#REF!,1,13,7.69%,0.29,0.29,1.1,0,0,0%,0,0
15832,26/09/2013,#REF!,#REF!,0,4,0%,0,0,1,0,0,0%,0,0
15833,24/09/2013,#REF!,#REF!,0,1,0%,0,0,1,0,0,0%,0,0
15834,24/09/2013,#REF!,#REF!,0,3,0%,0,0,1,0,0,0%,0,0

In [4]:
data = df.copy()

## Cleaning Data
#### Removing unwanted values, reseting index, change values to float, sort index, group by, etc...

In [5]:
data = data.iloc[:5216,:]
data

,"Exercise (Aug 1, 2013-Sep 27, 2013)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Day,Campaign,AdGroup,Clicks,Impressions,CTR,Avg. CPC,Cost,Avg. position,Conversions,Cost/conversion,Conversion rate,View-through conv.,Total conv. value
1,05/08/2013,1,100,0,1,0%,0,0,1,0,0,0%,0,0
2,08/08/2013,1,100,1,3,33.33%,0.03,0.03,1,0,0,0%,0,0
3,10/08/2013,1,100,0,4,0%,0,0,1,0,0,0%,0,0
4,14/08/2013,1,100,0,1,0%,0,0,1,0,0,0%,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5211,25/09/2013,15,536,342,65510,0.52%,0.05,17.29,1,7,2.47,2.05%,5,445
5212,26/09/2013,15,536,213,25635,0.83%,0.04,8.97,1,2,4.48,0.94%,1,104
5213,27/09/2013,15,536,899,111513,0.81%,0.04,39.51,1,2,19.76,0.22%,7,180
5214,20/09/2013,15,537,41,12677,0.32%,0.05,1.88,1.8,0,0,0%,0,0
5215,21/09/2013,15,537,70,20220,0.35%,0.05,3.31,2.2,0,0,0%,0,0

In [6]:
data.columns = data.iloc[0]
data_2 = data.iloc[1:, [0,1,2,3,4,7,8,9,12,13]]

convert_dict = {"Day": str, "Campaign": int, "AdGroup": int, "Clicks": int, "Impressions": int,
               "Cost": float, "Avg. position": float, "Conversions": int, "View-through conv.": int,
               "Total conv. value": float}

data_2 = data_2.astype(convert_dict)
data_2['Counter'] = 1
data_2.reset_index(drop=True, inplace=True)
data_2.head()

,Day,Campaign,AdGroup,Clicks,Impressions,Cost,Avg. position,Conversions,View-through conv.,Total conv. value,Counter
0,05/08/2013,1,100,0,1,0.00,1.0,0,0,0.0,1
1,08/08/2013,1,100,1,3,0.03,1.0,0,0,0.0,1
2,10/08/2013,1,100,0,4,0.00,1.0,0,0,0.0,1
3,14/08/2013,1,100,0,1,0.00,1.0,0,0,0.0,1
4,18/08/2013,1,100,0,1,0.00,1.0,0,0,0.0,1

In [7]:
data_2.sort_values(by=['Campaign','AdGroup','Day'])
data_2

,Day,Campaign,AdGroup,Clicks,Impressions,Cost,Avg. position,Conversions,View-through conv.,Total conv. value,Counter
0,05/08/2013,1,100,0,1,0.00,1.0,0,0,0.0,1
1,08/08/2013,1,100,1,3,0.03,1.0,0,0,0.0,1
2,10/08/2013,1,100,0,4,0.00,1.0,0,0,0.0,1
3,14/08/2013,1,100,0,1,0.00,1.0,0,0,0.0,1
4,18/08/2013,1,100,0,1,0.00,1.0,0,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
5210,25/09/2013,15,536,342,65510,17.29,1.0,7,5,445.0,1
5211,26/09/2013,15,536,213,25635,8.97,1.0,2,1,104.0,1
5212,27/09/2013,15,536,899,111513,39.51,1.0,2,7,180.0,1
5213,20/09/2013,15,537,41,12677,1.88,1.8,0,0,0.0,1
5214,21/09/2013,15,537,70,20220,3.31,2.2,0,0,0.0,1

In [8]:
data_2["Day"] = pd.to_datetime(data_2["Day"], format="%d/%m/%Y")
grouped_data = data_2.groupby(['Campaign', data_2.Day.dt.to_period('M'), 'AdGroup']).sum()
grouped_data

0                         Clicks  Impressions     Cost  Avg. position  \
Campaign Day     AdGroup
1        2013-08 100           4           19     0.21            9.0
                 101         127          313     7.75           31.3
                 102         214          364     5.64           31.0
                 103          11           10     0.23            8.0
                 104        4249         6780   107.79           31.0
...                          ...          ...      ...            ...
15       2013-09 533          48        13098     3.27           40.0
                 534         265        75877    25.08           29.9
                 535         217        85846    26.25           31.2
                 536       13266      2372011  1085.09           27.0
                 537         111        32897     5.19            4.0

0                         Conversions  View-through conv.  Total conv. value  \
Campaign Day     AdGroup
1        2013-08 100                0                   0               0.00
                 101                5                   0             232.00
                 102                3                   0             187.00
                 103                0                   0               0.00
                 104              183                   0           13187.39
...                               ...                 ...                ...
15       2013-09 533                0                   0               0.00
                 534               13                   0             762.59
                 535               11                   0             600.00
                 536              161                 374            8799.60
                 537                0                   0               0.00

0                         Counter
Campaign Day     AdGroup
1        2013-08 100            9
                 101           31
                 102           31
                 103            8
                 104           31
...                           ...
15       2013-09 533           27
                 534           27
                 535           27
                 536           27
                 537            2

[257 rows x 8 columns]

In [9]:
CTR = grouped_data['Clicks'] / grouped_data['Impressions']
Cost_per_Conversion = grouped_data['Cost'] / grouped_data['Conversions']
Conversion_rates = grouped_data['Conversions'] / grouped_data['Clicks']
Avg_CPC = grouped_data['Cost'] / grouped_data['Clicks']
grouped_data['Avg. position'] = grouped_data['Avg. position'] / grouped_data['Counter']

In [10]:
grouped_data.insert(2, "CTR", CTR)
grouped_data.insert(3, "Avg. CPC", Avg_CPC)
grouped_data.insert(7, "Cost/conversion", Cost_per_Conversion)
grouped_data.insert(8, "Conversion rate", Conversion_rates)
grouped_data.head()

0                         Clicks  Impressions       CTR  Avg. CPC    Cost  \
Campaign Day     AdGroup
1        2013-08 100           4           19  0.210526  0.052500    0.21
                 101         127          313  0.405751  0.061024    7.75
                 102         214          364  0.587912  0.026355    5.64
                 103          11           10  1.100000  0.020909    0.23
                 104        4249         6780  0.626696  0.025368  107.79

0                         Avg. position  Conversions  Cost/conversion  \
Campaign Day     AdGroup
1        2013-08 100           1.000000            0              inf
                 101           1.009677            5         1.550000
                 102           1.000000            3         1.880000
                 103           1.000000            0              inf
                 104           1.000000          183         0.589016

0                         Conversion rate  View-through conv.  \
Campaign Day     AdGroup
1        2013-08 100             0.000000                   0
                 101             0.039370                   0
                 102             0.014019                   0
                 103             0.000000                   0
                 104             0.043069                   0

0                         Total conv. value  Counter
Campaign Day     AdGroup
1        2013-08 100                   0.00        9
                 101                 232.00       31
                 102                 187.00       31
                 103                   0.00        8
                 104               13187.39       31

In [11]:
grouped_data.replace([np.inf, -np.inf], 0, inplace=True)
grouped_data.head()

0                         Clicks  Impressions       CTR  Avg. CPC    Cost  \
Campaign Day     AdGroup
1        2013-08 100           4           19  0.210526  0.052500    0.21
                 101         127          313  0.405751  0.061024    7.75
                 102         214          364  0.587912  0.026355    5.64
                 103          11           10  1.100000  0.020909    0.23
                 104        4249         6780  0.626696  0.025368  107.79

0                         Avg. position  Conversions  Cost/conversion  \
Campaign Day     AdGroup
1        2013-08 100           1.000000            0         0.000000
                 101           1.009677            5         1.550000
                 102           1.000000            3         1.880000
                 103           1.000000            0         0.000000
                 104           1.000000          183         0.589016

0                         Conversion rate  View-through conv.  \
Campaign Day     AdGroup
1        2013-08 100             0.000000                   0
                 101             0.039370                   0
                 102             0.014019                   0
                 103             0.000000                   0
                 104             0.043069                   0

0                         Total conv. value  Counter
Campaign Day     AdGroup
1        2013-08 100                   0.00        9
                 101                 232.00       31
                 102                 187.00       31
                 103                   0.00        8
                 104               13187.39       31